
<!DOCTYPE html>
<html lang="en">
  <head>
    <% include ./partials/head.ejs %>
  </head>
  <body>

      <!-- Navigation -->
      <% include ./partials/navbar.ejs %>

      <!-- Page Content -->
      <main class="container">

        <!-- Jumbotron Header -->
        <header class="jumbotron my-4">
          <h1 class="display-3">Welcome to Datapuller</h1>
          <p class="lead">An application for users to pull their strava activities.</p>
          <a href="/users/sign_in" class="btn btn-primary btn-lg">Sign In</a>
        </header>

        <!-- Page Features -->

        <!-- /.row -->

      </main>
      <!-- /.container -->

      <% include ./partials/baseScripts.ejs %>
    </body>
</html>
