<!DOCTYPE html>
<html>
  <head>
    <% include ../static/partials/head.ejs %>
  </head>
  <body>

    <% include ../static/partials/navbar.ejs %>

    <main class="container">

      <% include ../static/partials/messages.ejs %>

      <h1>Sign in</h1>

      <a href='/users/sign_in/strava'>Log in with Strava</a>
    </main>

    <% include ../static/partials/baseScripts.ejs %>

  </body>
</html>
